/******Infobar******/

.infobar {
    background: $background;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 0px 26px;
    width: 100%;

    h1 {
        font-size: 24px;
        font-weight: 700;
    }

    p {
        font-weight: 300;
        font-size: 18px;
        color: $grey-txt;
    }
}

/******Operation******/

.operation {
    background: white;
    padding: 48px 20px;

    &__container {
        &__group {
            display: flex;
            flex-direction: column;
            gap: 25px;
            padding: 20px 0;

            &__card {
                background-color: $background;
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
                border-radius: 20px;
                padding: 28px 36px;
                display: flex;
                position: relative;

                &__number {
                    background: $main-color;
                    width: 24px;
                    height: 24px;
                    border-radius: 25px;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    left: -12px;
                    top: 25px;
                }

                &__txt {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 20px;

                    i {
                        color: $grey-i;
                    }

                    h3 {
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

/******Restaurants******/

.restaurants {
    width: 100%;
    padding: 48px 20px;
    background-color: $background;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__group {
            display: flex;
            flex-direction: column;
            gap: 18px;

            article {
                position: relative;
            }

            a {
                display: flex;
                text-decoration: none;
                z-index: 1;
            }

            &__card {
                display: flex;
                flex-direction: column;
                background-color: white;
                border-radius: 15px;
                height: 250px;
                width: 100%;

                &__img {
                    position: relative;
                    padding: 0;
                    height: 175px;

                    img {
                        object-fit: cover;
                        border-top-right-radius: 15px;
                        border-top-left-radius: 15px;
                        height: 100%;
                        width: 100%;
                    }

                    &__new {
                        background: $third-color;
                        color: $green-txt;
                        width: 80px;
                        height: 30px;
                        border-radius: 2px;
                        font-size: 14px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        right: 15px;
                        bottom: 135px;
                    }
                }

                &__content {
                    height: 75px;
                    padding: 13px;
                    color: black;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    &__txt {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;

                        h3 {
                            font-size: 18px;
                            font-weight: 700;
                        }

                        p {
                            font-size: 17px;
                            font-weight: 300;
                        }
                    }

                    &__like {
                        padding: 12px;
                        font-size: 22px;
                        z-index: 2;
                        border: none;
                        position: absolute;
                        right: 12px;
                        bottom: 35px;
                        text-decoration: none;
                        color: black;

                        input {
                            display: none;
                        }

                        input:checked+label {
                            .fa-regular {
                                display: none;
                            }

                            .fa-solid {
                                opacity: 1;
                            }
                        }

                        .fa-regular {
                            position: absolute;
                            left: -50%;
                            padding: 1px;
                        }

                        .fa-solid {
                            background: linear-gradient($main-color, $second-color);
                            -webkit-background-clip: text;
                            background-clip: text;
                            color: transparent;
                            cursor: pointer;
                            position: absolute;
                            left: -50%;
                            z-index: 1500;
                            opacity: 0;
                            transition: opacity 500ms;
                            padding: 1px;
                        }
                    }
                }
            }
        }
    }
}

/******Responsive******/

@media screen and (min-width: 1024px) {
    main {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .infobar {
        height: 240px;

        h1 {
            font-size: 40px;
        }
    }

    .operation {
        width: 100%;
        display: flex;
        justify-content: center;

        &__container {
            width: 1080px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &__group {
                flex-direction: row;
                justify-content: space-between;
                gap: 36px;

                &__card {
                    width: 33%;
                }
            }
        }
    }

    .restaurants {
        display: flex;
        justify-content: center;

        &__container {
            max-width: 1080px;

            &__group {
                flex-direction: row;
                gap: 50px;
                flex-wrap: wrap;
                justify-content: space-between;

                article {
                    width: 46%;
                }
            }
        }
    }
}