/******Base******/
header{
    width: 100%;
    .header__logo {
        display: flex;
        padding: 20px 0 13px 0;
        justify-content: center;
        & img{
        width: 162px;
        }
    }
    .header__location{
        display: flex; 
        align-items: center;
        gap: 17px;
        justify-content: center;
        height: 50px;
        background: $grey-2;
        width: 100%;
        color: $grey-txt;
        font-weight: 500;
        box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    }
    .header__arrow{
        font-size: 24px;
        padding: 6px;
        position: absolute;
        top: 8px;
        left: 17px;
        a{
            text-decoration: none;
            color: inherit;
        }
    }
}